@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import './ol';

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
}

.material-icons {
  font-size: 1rem;
}

.map {
  width: 100vw;
  height: 100vh;
  display: block;
}

// OpenLayers controls

.ol-layer-list {
  top: 0.5rem;
  left: 0.5rem;

  &:not(.ol-collapsed) {
    padding: 0.5rem;
    background-color: #ffffff;
  }

  &.ol-collapsed {
    > button {
      position: static;
      left: 0;
      right: unset;
    }
  }

  > button {
    position: absolute;
    top: 0;
    right: 0;
  }

  > h3 {
    margin: 0.5rem 0 1rem;
  }

  > ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}

.ol-download {
  right: 0.5rem;
  top: 2.5rem;
}
