@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import '~ol/ol.css';

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.material-icons {
  font-size: 1rem;
}

.map {
  flex: 1 1 auto;
  display: block;
}

// OpenLayers controls
.ol-zoom {
  top: unset;
  right: 0.5rem;
  bottom: 4rem;
  left: unset;
}

.ol-mouse-position {
  top: unset;
  bottom: 2rem;
  background: #ffffff;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 4px;
}

.ol-rotate {
  top: 5rem;
}

.ol-scale-line {
  left: 11rem;
}

.ol-layer-list {
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background: #ffffff;

  &:hover {
    background: #ffffff;
  }

  > h3 {
    margin: 0.5rem 0 1rem;
  }

  > ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}

.ol-download {
  right: 0.5rem;
  top: 2.5rem;
}

.ol-overviewmap {
  &.ol-overviewmap.ol-uncollapsible {
    left: 0.5rem;
    bottom: 0.5rem;
  }
}
